<div class="fixing">
    <div class="header">
        <div class="header_left">
            <img class="headerimg" src="https://github.com/WebDevSimplified/YouTube-Design-Clone/blob/master/logo.png?raw=true" alt="Youtube" />
        </div>
        <div class="header_right">
            <form class="form">
                <input type="search" placeholder="Search" class="header_input" aria-label="search" />
                <button type="submit" class="inputBtn">
          <mat-icon>search</mat-icon>
        </button>
            </form>
        </div>
    </div>
</div>
<div class="fixing">
    <div class="header_mobile">
        <div class="header_left">
            <img class="headerimg" src="https://i.ibb.co/cyPkQqV/images-removebg-preview.png" alt="images-removebg-preview" border="0" />
            <span>YouTube</span>
        </div>
        <div class="header_right">
            <form class="form">
                <input type="search" placeholder="Search" class="header_input" aria-label="search" />
                <button type="submit" class="inputBtn">
          <mat-icon>search</mat-icon>
        </button>
            </form>
        </div>
    </div>
</div>