<app-header></app-header>
<div class="main">
    <div class="video">
        <iframe src="https://www.youtube.com/embed/JfSdGQdAzq8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="bottom">
            <div class="title">
                <p>Video Title</p>
            </div>
            <div class="information_sheet">
                <div class="watching_now">
                    <p>1,625 watching now</p>
                </div>
                <div class="react_bar">
                    <div class="react_element">
                        <mat-icon>thumb_up</mat-icon>
                        <span>1K</span>
                    </div>
                    <div class="react_element">
                        <mat-icon>thumb_down</mat-icon>
                        <span>163</span>
                    </div>
                    <div class="react_element">
                        <mat-icon class="share">reply</mat-icon>
                        <span>SHARE</span>
                    </div>
                    <div class="react_element">
                        <span class="material-icons"> playlist_add </span>
                    </div>
                    <div class="react_element">
                        <mat-icon>more_horiz</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="channel">
            <div class="photo">
                <img src="https://scontent.fcai20-4.fna.fbcdn.net/v/t1.18169-9/12072529_900307200005642_6379244874650553893_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=ofWSnHar7ocAX9pNExs&_nc_ht=scontent.fcai20-4.fna&oh=1b827bf805f26826e3d62dbb863cbc7e&oe=61774A21"
                    alt="channel name" />
            </div>
            <div class="channel_information">
                <p class="channel_name">Conan198</p>
                <p class="publish_date">Published on 21 Dec 2014</p>
            </div>
        </div>
    </div>
    <div class="videos_section">
        <div class="video_section">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/gEwFC1Ocza4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video_section">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/E3SQOqUq8Mg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video_section">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/E3SQOqUq8Mg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video_section">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/E3SQOqUq8Mg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video_section">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/E3SQOqUq8Mg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video_section">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/E3SQOqUq8Mg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>