<app-header></app-header>
<div class="main">
    <div class="video">
        <iframe src="https://www.youtube.com/embed/JfSdGQdAzq8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="bottom">
            <div class="title">
                <p>Video Title</p>
            </div>
            <div class="information_sheet">
                <div class="watching_now">
                    <p>1,625 watching now</p>
                </div>
                <div class="react_bar">
                    <div class="react_element">
                        <mat-icon>thumb_up</mat-icon>
                        <span>1K</span>
                    </div>
                    <div class="react_element">
                        <mat-icon>thumb_down</mat-icon>
                        <span>163</span>
                    </div>
                    <div class="react_element">
                        <mat-icon>thumb_up</mat-icon>
                        <span>1K</span>
                    </div>
                    <div class="react_element">
                        <mat-icon>thumb_up</mat-icon>
                        <span>1K</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>